@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

/* Mixins / Functions
------------------------------------------------------------------------------------------------ */

@import 'mixins/_mixins';
@import 'functions/_functions';


/* VENDORS
------------------------------------------------------------------------------------------------ */

@import 'vendors/_normalize';


/* COMPONENTS
------------------------------------------------------------------------------------------------ */

@import 'components/_variables';
@import 'components/_base';

// Global Styles

@import 'components/_type';
@import 'components/_forms';
@import 'components/_tables';
@import 'components/_buttons';
@import 'components/_media';
@import 'components/_utilities';

// Grid

@import 'components/_grid';

// Layout

@import 'components/_masthead';
@import 'components/_mainnav';
@import 'components/_content';
@import 'components/_footer';

// Specials

@import 'components/_accordion';
@import 'components/_expandable';


$susy: (
  columns: 12, 
  container: 1140px,
  gutters: 0.25,
  global-box-sizing: border-box,
  debug: (image: show-columns)
  );

.testing {
  @include span(12);
}

.testing2 {
  @include span(2);
  margin-left: span(4);
}

.testing3 {
  @include span(2);
  margin-left: span(6);
  @include breakpoint(20em) {
    @include span(4); 
    margin-left: span(3);
  }
}
